<div
  class="fixed inset-0 -z-10 h-svh w-svw bg-[url('/assets/elements/background.svg')] bg-cover bg-[position:-30em_50%] bg-no-repeat"
></div>
<div class="reduced-page-container grid h-svh content-center">
  <main class="flex flex-col items-center gap-12 p-4 text-center md:p-8">
    <h1 class="font-serif text-2xl italic md:text-3xl">
      Computação Bioinspirada
    </h1>

    <div
      class="mb-16 grid w-full grid-cols-1 gap-4 md:w-fit md:grid-cols-3 md:gap-8"
    >
      <a
        routerLink="/eight-queens"
        class="border-dark focus:ring-offset-bright flex h-30 w-full flex-col items-end justify-center rounded-3xl border-2 border-solid bg-white bg-[url('/assets/elements/eight-queens.svg')] bg-[size:6.5rem] bg-[position:-1em_100%] bg-no-repeat p-4 shadow transition hover:bg-stone-100 hover:shadow-lg focus:ring-4 focus:ring-teal-600 focus:ring-offset-4 focus:outline-none active:bg-stone-200 md:h-56 md:w-56 md:rounded-4xl md:bg-[size:90%] md:bg-[position:-250%_100%]"
      >
        <h2
          class="text-right font-serif text-xl font-bold text-balance italic md:text-2xl"
        >
          8 Rainhas
        </h2>
      </a>
      <a
        routerLink="/functions-optimization"
        class="border-dark focus:ring-offset-bright flex h-30 w-full flex-col items-end justify-center rounded-3xl border-2 border-solid bg-white bg-[url('/assets/elements/functions-optimization.svg')] bg-[size:6.5rem] bg-[position:-1em_100%] bg-no-repeat p-4 shadow transition hover:bg-stone-100 hover:shadow-lg focus:ring-4 focus:ring-teal-600 focus:ring-offset-4 focus:outline-none active:bg-stone-200 md:h-56 md:w-56 md:rounded-4xl md:bg-[size:40%] md:bg-[position:-15%_55%]"
      >
        <h2
          class="text-right font-serif text-xl font-bold text-balance italic md:text-2xl"
        >
          Otimização de funções
        </h2>
      </a>
      <a
        href="https://colab.research.google.com/drive/1IiqxKrby5psFvVPpaX5uSqGoNynH68mT"
        class="border-dark focus:ring-offset-bright flex h-30 w-full flex-col items-end justify-center rounded-3xl border-2 border-solid bg-white bg-[url('/assets/elements/final-project.svg')] bg-[size:6.5rem] bg-[position:-1em_100%] bg-no-repeat p-4 shadow transition hover:bg-stone-100 hover:shadow-lg focus:ring-4 focus:ring-teal-600 focus:ring-offset-4 focus:outline-none active:bg-stone-200 md:h-56 md:w-56 md:rounded-4xl md:bg-[size:30%] md:bg-[position:-7%_50%]"
      >
        <h2
          class="text-right font-serif text-xl font-bold text-balance italic md:text-2xl"
        >
          Projeto final
        </h2>
      </a>
    </div>

    <footer class="flex flex-col items-center gap-4 font-serif italic">
      <p>
        Feito com <span aria-label="amor" role="img">&lt;3</span> por
        <strong>Erick Riso</strong>.
      </p>
      <a
        href="https://github.com/Erick2280/computacao-bioinspirada"
        class="flex flex-col items-center rounded-3xl text-xl text-teal-600 transition hover:text-teal-800 focus:ring-4 focus:ring-teal-600 focus:ring-offset-4 focus:outline-none md:text-2xl"
      >
        <ng-icon name="remixGithubFill" aria-hidden="true"></ng-icon>
        <span class="sr-only">Repositório no GitHub</span>
      </a>
    </footer>
  </main>
</div>
