<div
  class="bg-bright grid aspect-square h-52 w-52 grid-cols-8 grid-rows-8 overflow-clip rounded-lg border-4 border-solid border-stone-500 shadow-lg"
  aria-hidden="true"
>
  @for (
    row of bidimensionalPositions();
    let rowIndex = $index;
    track rowIndex
  ) {
    @for (hasQueen of row; let colIndex = $index; track colIndex) {
      @let highlight = isHighlighted(colIndex, hasQueen);
      <div
        class="grid h-full w-full place-items-center"
        (mouseenter)="applyHover(colIndex, hasQueen)"
        (mouseleave)="hoveredPosition.set(null)"
        [ngClass]="{
          'even:bg-dark even:text-bright': rowIndex % 2 === 0 && !highlight,
          'odd:bg-dark odd:text-bright': rowIndex % 2 !== 0 && !highlight,
          'text-bright bg-amber-700': highlight,
        }"
      >
        @if (hasQueen && !highlight) {
          <ng-icon name="remixVipCrown2Fill"></ng-icon>
        }
        @if (hasQueen && highlight) {
          <ng-icon name="remixVipCrown2Line"></ng-icon>
        }
      </div>
    }
  }
</div>

<div class="sr-only">
  <p>Tabuleiro com rainhas nas seguintes posições:</p>
  <ul>
    @for (
      row of bidimensionalPositions();
      let rowIndex = $index;
      track $index
    ) {
      @for (hasQueen of row; let columnIndex = $index; track $index) {
        @if (hasQueen) {
          <li>Linha {{ rowIndex + 1 }}, {{ columnIndex + 1 }}</li>
        }
      }
    }
  </ul>
</div>
