<section
  class="border-dark col-span-full row-span-full h-full rounded-xl border-1 border-solid bg-white px-8 py-4 shadow-xl md:rounded-3xl md:px-16"
>
  @let solver = executionService.runningSolver$ | async;

  @if (solver) {
    <div
      class="grid grid-cols-[repeat(auto-fit,minmax(13rem,1fr))] gap-8 py-4 md:py-8"
    >
      @for (board of solver.boards; track $index) {
        <div
          class="bg-shade relative mx-auto flex w-52 flex-col items-center rounded-lg"
        >
          @if (board.fitness === 0) {
            <span
              class="absolute -end-3 -top-3 grid h-6 w-6 place-items-center rounded-full bg-teal-600 text-sm text-white"
            >
              <ng-icon name="remixCheckFill"></ng-icon>
            </span>
          }
          @if (viewingOptions().showChessBoards) {
            <app-chess-board
              [board]="board"
              [highlightCollisionsOnHover]="
                viewingOptions().highlightCollisionsOnHover
              "
            ></app-chess-board>
          }

          @if (viewingOptions().showGenotypes) {
            <span class="my-4 text-center text-xs font-bold tabular-nums">{{
              board.positions | genotype
            }}</span>
          }

          <div class="flex w-full flex-col items-center justify-between gap-1">
            <div
              class="flex w-full flex-row items-center justify-between px-3 py-1.5"
            >
              <span>Nascimento</span>
              <strong
                ><abbr title="Iteração">It.</abbr>
                {{ board.iterationBorn }}</strong
              >
            </div>

            <div
              class="text-bright flex w-full flex-row items-center justify-between rounded-b-lg px-3 py-1.5"
              [ngClass]="{
                'bg-teal-700': board.fitness === 0,
                'bg-dark': board.fitness > 0,
              }"
            >
              <span>Fitness</span>
              <strong>{{ board.fitness }}</strong>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div
      class="flex min-h-full flex-col items-center justify-center gap-8 py-4 text-center font-serif text-lg italic opacity-50 md:text-xl"
    >
      <img src="assets/elements/eight-queens.svg" class="h-32 w-32" alt="" />
      <p class="w-64 text-balance">
        Quando a execução for iniciada, os tabuleiros aparecerão aqui.
      </p>
    </div>
  }
</section>
