<div class="flex min-h-svh flex-col gap-2 p-4 md:gap-4 md:p-8">
  <header>
    <a
      routerLink="/home"
      class="ring-offset-bright rounded-sm font-serif italic underline decoration-transparent underline-offset-4 transition hover:text-teal-800 hover:decoration-current focus:ring-2 focus:ring-teal-600 focus:ring-offset-2 focus:outline-none"
      >Computação Bioinspirada</a
    >
    <h1
      class="flex flex-row items-center font-serif text-xl italic md:text-2xl"
    >
      <img
        src="assets/elements/functions-optimization.svg"
        alt=""
        class="mr-1.5 mb-1 inline-block h-4 w-4 md:h-6 md:w-6"
      />
      <span class="font-bold">Otimização de funções</span>
    </h1>
  </header>
  <div class="flex flex-1 flex-col gap-8 lg:flex-row">
    <div class="flex min-h-full flex-col gap-4 pt-4 lg:w-[35svw] lg:max-w-130">
      @let solver = executionService.runningSolver$ | async;
      @if (solver) {
        <section class="pt-2">
          <h2 class="mb-1 font-serif text-base font-bold md:text-lg">
            Iteração
          </h2>
          <div class="flex flex-row justify-between gap-2">
            <p class="text-2xl md:text-3xl">
              <strong>{{ solver.currentIteration }}</strong>
              de {{ solver.parameters.maxIterations }}
            </p>
            <div class="flex flex-row items-center gap-2">
              @if (
                solver.state === SolverState.InProgress &&
                !executionService.runningContinuously
              ) {
                <button
                  type="button"
                  (click)="executionService.step()"
                  class="focus:ring-offset-bright grid cursor-pointer place-items-center rounded-full bg-teal-600 p-2 text-lg font-bold text-white shadow transition hover:bg-teal-700 hover:shadow-lg focus:ring-4 focus:ring-teal-600 focus:ring-offset-4 focus:outline-none active:bg-teal-800 md:text-xl"
                >
                  <ng-icon name="remixContractRightFill" aria-hidden="true">
                  </ng-icon>
                  <span class="sr-only">Iterar uma vez</span>
                </button>
                <button
                  type="button"
                  (click)="executionService.runContinuously()"
                  class="focus:ring-offset-bright grid cursor-pointer place-items-center rounded-full bg-teal-600 p-2 text-lg font-bold text-white shadow transition hover:bg-teal-700 hover:shadow-lg focus:ring-4 focus:ring-teal-600 focus:ring-offset-4 focus:outline-none active:bg-teal-800 md:text-xl"
                >
                  <ng-icon name="remixPlayFill" aria-hidden="true"> </ng-icon>
                  <span class="sr-only">Executar continuamente</span>
                </button>
              }
              @if (
                solver.state === SolverState.InProgress &&
                executionService.runningContinuously
              ) {
                <button
                  type="button"
                  (click)="executionService.pauseContinuousRun()"
                  class="focus:ring-offset-bright grid cursor-pointer place-items-center rounded-full bg-teal-600 p-2 text-lg font-bold text-white shadow transition hover:bg-teal-700 hover:shadow-lg focus:ring-4 focus:ring-teal-600 focus:ring-offset-4 focus:outline-none active:bg-teal-800 md:text-xl"
                >
                  <ng-icon name="remixPauseFill" aria-hidden="true"> </ng-icon>
                  <span class="sr-only">Pausar execução contínua</span>
                </button>
              }
              <button
                type="button"
                (click)="executionService.clear()"
                class="focus:ring-offset-bright grid cursor-pointer place-items-center rounded-full bg-amber-600 p-2 text-lg font-bold text-white shadow transition hover:bg-amber-700 hover:shadow-lg focus:ring-4 focus:ring-amber-600 focus:ring-offset-4 focus:outline-none active:bg-amber-800 md:text-xl"
              >
                <ng-icon name="remixResetLeftFill" aria-hidden="true">
                </ng-icon>
                <span class="sr-only">Redefinir</span>
              </button>
            </div>
          </div>

          <div
            class="mt-4 flex items-center gap-2 rounded-t-lg px-2 py-2 text-xs md:text-sm"
            [ngClass]="{
              'bg-shade text-dark': solver.state === SolverState.InProgress,
              'bg-teal-100 text-teal-800': solver.state === SolverState.Solved,
              'text-dark bg-amber-100':
                solver.state === SolverState.ReachedMaxIterations,
            }"
          >
            @if (
              solver.state === SolverState.InProgress &&
              !executionService.runningContinuously
            ) {
              <ng-icon
                name="remixPauseFill"
                class="min-w-fit"
                aria-hidden="true"
              >
              </ng-icon>
              <span>Pausado</span>
            }
            @if (
              solver.state === SolverState.InProgress &&
              executionService.runningContinuously
            ) {
              <ng-icon
                name="remixLoaderFill"
                class="min-w-fit animate-spin"
                aria-hidden="true"
              >
              </ng-icon>
              <span>Executando continuamente</span>
            }
            @if (solver.state === SolverState.Solved) {
              <ng-icon
                name="remixCheckFill"
                class="min-w-fit"
                aria-hidden="true"
              >
              </ng-icon>
              <span> Resolvido </span>
            }
            @if (solver.state === SolverState.ReachedMaxIterations) {
              <ng-icon name="remixHand" class="min-w-fit" aria-hidden="true">
              </ng-icon>
              <span>Máximo de iterações alcançado</span>
            }
          </div>

          <div
            class="h-1.5 w-full overflow-clip rounded-b-lg transition-all"
            [ngClass]="{
              'bg-stone-300': solver.state === SolverState.InProgress,
              'bg-transparent': solver.state !== SolverState.InProgress,
            }"
          >
            <div
              class="h-1.5 transition-all"
              [ngClass]="{
                'bg-dark': solver.state === SolverState.InProgress,
                'bg-teal-600': solver.state === SolverState.Solved,
                'bg-amber-500':
                  solver.state === SolverState.ReachedMaxIterations,
              }"
              [style]="
                `width: ${
                  solver.state === SolverState.InProgress
                    ? ((solver.currentIteration ?? 0) /
                        solver.parameters.maxIterations) *
                      100
                    : 100
                }%`
              "
            ></div>
          </div>
        </section>

        <section class="bg-shade rounded-lg p-4 md:p-6">
          <h2 class="mb-4 font-serif text-base font-bold md:text-lg">
            Parâmetros selecionados
          </h2>

          <div class="grid gap-3">
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <ng-icon
                  name="remixHashtag"
                  class="min-w-fit text-base md:text-lg"
                  aria-hidden="true"
                ></ng-icon>
                <span>Tamanho da população</span>
              </div>
              <span class="font-sans text-sm font-bold tabular-nums">{{
                solver.parameters.populationSize
              }}</span>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <ng-icon
                  name="remixHand"
                  class="min-w-fit text-base md:text-lg"
                  aria-hidden="true"
                ></ng-icon>
                <span>Máximo de iterações</span>
              </div>
              <span class="font-sans text-sm font-bold tabular-nums">{{
                solver.parameters.maxIterations
              }}</span>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <ng-icon
                  name="remixBox2Line"
                  class="min-w-fit text-base md:text-lg"
                  aria-hidden="true"
                ></ng-icon>
                <span>Dimensões</span>
              </div>
              <span class="font-sans text-sm font-bold tabular-nums">{{
                solver.parameters.dimensions
              }}</span>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <ng-icon
                  name="remixExpandRightLine"
                  class="min-w-fit text-base md:text-lg"
                  aria-hidden="true"
                ></ng-icon>
                <span>Limiar de convergência</span>
              </div>
              <span class="font-sans text-sm font-bold tabular-nums">{{
                solver.parameters.convergenceThreshold
              }}</span>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <ng-icon
                  name="remixFormula"
                  class="min-w-fit text-base md:text-lg"
                  aria-hidden="true"
                ></ng-icon>
                <span>Função de teste</span>
              </div>
              <span class="text-sm font-bold">{{
                getTestFunctionLabel(solver.parameters.testFunction)
              }}</span>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <ng-icon
                  name="remixParentLine"
                  class="min-w-fit text-base md:text-lg"
                  aria-hidden="true"
                ></ng-icon>
                <span>Candidatos a pais</span>
              </div>
              <span class="font-sans text-sm font-bold tabular-nums">{{
                solver.parameters.parentCandidatesAmount
              }}</span>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <ng-icon
                  name="remixDropperLine"
                  class="min-w-fit text-base md:text-lg"
                  aria-hidden="true"
                ></ng-icon>
                <span>Método de seleção de pais</span>
              </div>
              <span class="text-sm font-bold">{{
                getParentsSelectionMethodLabel(
                  solver.parameters.parentsSelectionMethod
                )
              }}</span>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <ng-icon
                  name="remixSettings6Line"
                  class="min-w-fit text-base md:text-lg"
                  aria-hidden="true"
                ></ng-icon>
                <span>Método de recombinação</span>
              </div>
              <span class="text-sm font-bold">{{
                getRecombinationMethodLabel(
                  solver.parameters.recombinationMethod
                )
              }}</span>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <ng-icon
                  name="remixSettings6Line"
                  class="min-w-fit text-base md:text-lg"
                  aria-hidden="true"
                ></ng-icon>
                <span>Método de mutação</span>
              </div>
              <span class="text-sm font-bold">{{
                getMutationMethodLabel(solver.parameters.mutationMethod)
              }}</span>
            </div>

            <div class="my-2 border-t border-solid border-stone-300"></div>

            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <ng-icon
                  name="remixSeedlingLine"
                  class="min-w-fit text-base md:text-lg"
                  aria-hidden="true"
                ></ng-icon>
                <span>Mecanismo</span>
              </div>
              <span class="text-sm font-bold">{{
                getMechanismLabel(solver.parameters.mechanism)
              }}</span>
            </div>

            @if (
              solver.parameters.mechanism === SolverMechanism.EvolutionStrategy
            ) {
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-2">
                  <ng-icon
                    name="remixDnaLine"
                    class="min-w-fit text-base md:text-lg"
                    aria-hidden="true"
                  ></ng-icon>
                  <span>Tamanho da prole</span>
                </div>
                <span class="font-sans text-sm font-bold">{{
                  solver.parameters.offspringSize
                }}</span>
              </div>

              <div class="flex items-center justify-between">
                <div class="flex items-center gap-2">
                  <ng-icon
                    name="remixFilterLine"
                    class="min-w-fit text-base md:text-lg"
                    aria-hidden="true"
                  ></ng-icon>
                  <span>Estratégia de seleção de sobreviventes</span>
                </div>
                <span class="text-sm font-bold">{{
                  getSurvivorSelectionStrategyLabel(
                    solver.parameters.survivorSelectionStrategy!
                  )
                }}</span>
              </div>
            }

            <div class="my-2 border-t border-solid border-stone-300"></div>

            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <ng-icon
                  name="remixFlagLine"
                  class="min-w-fit text-base md:text-lg"
                  aria-hidden="true"
                ></ng-icon>
                <span>Condição de encerramento</span>
              </div>
              <span class="text-sm font-bold">{{
                getCompletionConditionLabel(
                  solver.parameters.completionCondition
                )
              }}</span>
            </div>
          </div>
        </section>
      } @else {
        <app-fo-new-execution-card></app-fo-new-execution-card>
      }
    </div>
    <div
      class="grid min-h-full grid-cols-1 grid-rows-1 content-center pb-16 lg:flex-1"
    >
      <app-fo-solving-panel></app-fo-solving-panel>
    </div>
  </div>
</div>
