@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-serif: 'Vollkorn', serif;

  --color-bright: #fffcf9;
  --color-shade: #f8f2ec;
  --color-dark: #37332f;
}

@layer components {
  .reduced-page-container {
    @apply mx-auto max-w-screen-xl;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes blur {
  from {
    filter: blur(0);
  }

  to {
    filter: blur(10px);
  }
}

@keyframes deblur {
  from {
    filter: blur(10px);
  }

  to {
    filter: blur(0);
  }
}

::view-transition-old(root) {
  animation:
    fade-out 0.3s ease-in-out forwards,
    blur 0.3s ease-in-out forwards;
}

::view-transition-new(root) {
  animation:
    fade-in 0.3s ease-in-out forwards,
    deblur 0.3s ease-in-out forwards;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(root) {
    @apply animate-none;
  }

  ::view-transition-new(root) {
    @apply animate-none;
  }
}
