@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-serif: 'Vollkorn', serif;

  --color-bright: #fffcf9;
  --color-shade: #f8f2ec;
  --color-dark: #37332f;
}

@layer components {
  .reduced-page-container {
    @apply mx-auto max-w-screen-xl;
  }
}
